body {
  background-color: #fff;
}
.App {
  text-align: center;
}

header {
  border-bottom: 2px solid #333;
  background-color: steelblue;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2%;
  width: 100%;
}

.tasks {
  margin: 2%;
}


.task {
  background-color: #eee;
  padding: 4px 10px;
  margin: 10px 0;
}

.reminder {
  background-color: gold;
}

.task p{
    margin: 0;
    font-size: 14px;
}

.add-form input[type="checkbox"] {
  height: 15px;
  width: 15px;
  margin: 5px 20px;
}

.task h5{
  margin-bottom: 4px;
}

.add-form {
  width:70%;
  margin: 2% auto 5% auto;
}

.about {
  padding: 5%;
}